[submodule "bundle/hydrangea"]
	path = bundle/hydrangea
	url = https://github.com/yuttie/hydrangea-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/bullets.vim"]
	path = bundle/bullets.vim
	url = https://github.com/dkarter/bullets.vim.git
[submodule "bundle/hydrangea"]
	path = bundle/hydrangea
	url = https://github.com/yuttie/hydrangea-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-livedown"]
	path = bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
